@model YK.Model.TB_Employee_Employees

@{
    ViewBag.Title = "员工详情";
    Layout = "~/Views/Shared/_OfficeLayout.cshtml";
}
<br />
<div class="detail_proposer">    
    <table class="fromTable">
        @if (!string.IsNullOrEmpty(Model.PhotoUrl))
        {
        <tr>
            <td colspan="2">
                <img src="@Url.Content("~/"+Model.PhotoUrl)" style="width:60px;" />
            </td>
        </tr>
        }
        <tr>
            <th>姓名：</th>
            <td>
                @Model.EmployeeName
            </td>
        </tr>
        <tr>
            <th>电话：</th>
            <td>
                <a href='tel:@Model.Phone'>@Model.Phone</a>
            </td>
        </tr>
    </table>
</div>

<div class="detail_info">
    <table class="fromTable">
        <tr>
            <th>性别：</th>
            <td>
                @(Model.Sex==0?"男":"女")
            </td>
        </tr>
        <tr>
            <th>年龄：</th>
            <td>
                @Model.Age
            </td>
        </tr>
        <tr>
            <th>婚姻状况：</th>
            <td>
                @(Model.Marriage==0?"未婚":"已婚")
            </td>
        </tr>
        <tr>
            <th>生日：</th>
            <td>
                @Model.Birthday
            </td>
        </tr>
        <tr>
            <th>邮箱：</th>
            <td>
                @Model.Email
            </td>
        </tr>
        <tr>
            <th>地址：</th>
            <td>
                @Model.Address
            </td>
        </tr>
    </table>
</div>